<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoxI-T_7F--W25D9aDgt-PF_onTYQ0-4k</string>
	<key>GCM_SENDER_ID</key>
	<string>128411857480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lighatx.light.app</string>
	<key>PROJECT_ID</key>
	<string>light-bb486</string>
	<key>STORAGE_BUCKET</key>
	<string>light-bb486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128411857480:ios:c6e0db73de48d8f4075e7d</string>
</dict>
</plist>